
extends layouts/main.pug
block content
  h2 Vista de productos
  h3 Productos
  include partials/error.pug
  table.table.table-striped
    thead
      tr
        th(scope='col') Nombre
        th(scope='col') Precio
        th(scope='col') Foto
    tbody
      each prod in productos ? productos : [] 
        tr
          th(scope='row') #{ prod.title }
          td #{ prod.price }
          td
            img(src=prod.thumbnail width='50')

  a.w-100.btn.btn-block.btn-primary.btn-lg(href='/') Nuevo
